.header{
    background-color: #a0d2eb;
    height:23px;
    border-bottom: 1px solid #50829b;
}
.right{    
    float: right;
    text-align:right;    
}

.btnInfo {
    height: 22px;
    width: 24px;
    float: right;   
}
.iconInfo{   
    margin-left:-7px;
    margin-top:-3px;
 
}