.node {
    width: 100px;
    border-style: solid;
    font-size:11px;
    z-index: 25;
}

.posAbsolute{
    position: absolute
}

.smallBtn {
    height: 18px;
    width: 19px;
    float: right;   
}

.smallBtn3 {
    height: 18px;
    width: 19px;
    float: left;   
}

.iconDel{   
    margin-left:-7px;
    margin-top:-3px;
}

.typeSelectNode{
    width: 100px;
}