.node {
    width: 100px;
    border-style: solid;
    font-size:11px;
    z-index: 100;
}

.posAbsolute{
    position: absolute
}

.smallBtn {
    height: 18px;
    font-size:10px;
    float: right;
}

.typeSelectNode{
    width: 100px;
}